[theme~="error-window"] .title {
  margin-top: 0;
  text-align: center;
  font-size: var(--lumo-font-size-xl);
}

[theme~="error-window"] .uuid {
  text-align: center;
  font-weight: 600;
  font-size: var(--lumo-font-size-l);
  margin-top: 1em;	
}

[theme~="error-window"] .stacktrace {
  white-space: pre;
  background: rgba(26, 57, 96, 0.1);
  overflow: auto;
  padding: 0.25em 0.625em;
  border-radius: 4px;
  font-weight: 600;
  margin: 4px 0;
  box-sizing: border-box;
}
